@model List<RegistroDeTickets.Data.Entidades.Ticket>

<div class="container">
    <div class="header text-center">
        <h1>📋 Tickets Registrados 📋</h1>
    </div>

    <div class="table-container">
        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"># Nro</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Prioridad</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha de Emisión</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                     @foreach (var ticket in Model)
                        {
                        <tr>
                            <td>@ticket.Id</td>
                            <td>@ticket.Motivo</td>
                            <td>@ticket.Prioridad</td>
                            <td>@ticket.Descripcion</td>
                            <td>@ticket.Estado</td> <!-- Hay que cambiar esto para que se muestre el string -->
                            <td>@ticket.FechaCreacion.ToString()</td>
                            <td class="text-center action-buttons">
                                <a class="btn btn-primary btn-sm" asp-controller="Administrador" asp-action="Editar" asp-route-id="@ticket"><i class="bi bi-pencil-fill"></i></a>
                                <a class="btn btn-danger btn-sm" asp-controller="Administrador" asp-action="Eliminar" asp-route-id="@ticket"><i class="bi bi-trash-fill"></i></a>
                                <a class="btn btn-danger btn-sm" asp-controller="Administrador" asp-action="AsignarTecnico" asp-route-id="@ticket"><i class="bi bi-person-fill"></i></a>
                    
                       
                            </td>
                        </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>
</div>