@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ticket {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        max-width: 400px;
        font-family: Arial, sans-serif;
    }

    .select-tecnico{
        padding: 10px 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: white;
        color: black;
        font-size: 16px;
        cursor: pointer;
    }
</style>
<div class="contenedor">

    <div class="ticket">
        <h2>Ticket</h2>
        <p><strong>Cliente:</strong> @ViewBag.Ticket.IdCliente</p>
        <p><strong>Estado:</strong> Abierto</p>
        <p><strong>Prioridad:</strong> @ViewBag.Ticket.PrioridadId</p>
        <p>@ViewBag.Ticket.Id</p>
        <p>@ViewBag.Ticket.Motivo</p>
        <p>@ViewBag.Ticket.PrioridadId</p>
        <p>@ViewBag.Ticket.FechaCreacion</p>
        <p>@(ViewBag.Ticket.IdTecnico != null ? "Sí" : "No")</p>
        <form asp-action="AsignarTecnicoATicket" method="post">
            <input type="hidden" name="idTicket" value="@ViewBag.Ticket.Id" />

            <select id="tecnicoSelect" class="select-tecnico" name="idTecnico">
                @foreach (var tecnico in ViewBag.Tecnicos)
                {
                    <option value="@tecnico.Id">@tecnico.Username </option>
                }
            </select>

            <button type="submit" class="btn btn-primary btn-block mb-3">Seleccionar Tecnico</button>
        </form>
    </div>
</div>